body{
    padding: 1vw;
}

header{
  height: 10vw;
  font-size: 8vw;
}

h1{
  float:left;
}

h2{
  font-size: 8vw;
}

header i{
  float: right;
}

.clearfix{
  clear:both;
}

nav{
  display:none;
}

nav div{
    border: thin solid black;
    display: inline-block;
    width: 99%;
    height: 4vh;
    text-align: center;
    margin-bottom: 2vw;
}

nav div a{
  font-size: 5vw;
  text-decoration: none;
}

/*first section*/

section:first-child{
  background-color: green;
}

#about{
  margin-top: 3vh;
}

#about img{
  float:left;
  width: 35%;
}
section p{
  font-size: 4vw;
}

#skills{
  margin-top: 6vw;
  text-align: center;
}

#findMe{
  margin-top: 6vw;
  text-align: center;
}

.template{
  display: none;
}

@media only screen and (min-width: 640px){
  .menu{
    display: none;
  }

  nav{
    display:block;
  }

  nav div{
    height: 7vw;
    width: 24%;
  }

  h1{
    float: none;
    width:37%;
    margin: 0 auto;
    color: 70f716;
  }
}
